
@import "styleGlobals";

.modal
{
  text-align: center;

  .modal-body
  {
    .aboutImageContent
    {
      margin-bottom: 15px;
      label
      {
        font-size: 24px;
        color: #1974B8;
      }
    }
    .adressText
    {
      margin-bottom: 15px;
      p{
        margin-bottom: 0px !important;
      }
    }
    h3
    {
      color: $menuHoverColor;
    }
  }

  .modal-footer{
    text-align: center;
    a{
      color:  $menuHoverColor;
    }
  }
}

#aboutModal{
  .modal-dialog
  {
    width: 400px;
  }
}

#layoutPropertiesDiv{
  .modal-dialog
  {
    width: 500px;
  }

  // .col-sm-8{
  //   width: auto !important;
  // }
}

#edge_legend_modal{
  .modal-body{
    img
    {
      width: 500px;
    }
  }
}

#node_legend_modal{
  .modal-body{
    img
    {
      width: 500px;
    }
  }
}

#cbioPortalModal{
  .modal-body
  {

  }
}
