

#cbioPortalModal
{
  .modal-body
  {
    text-align: left;

    .bootstrap-select>.dropdown-toggle
    {
      width: 500px;
    }

    .section
    {
      margin-bottom: 20px;
    }
  }

  .modal-footer{

  }
}




