#cy-context-menus-cxt-menu {
  display:none;
  z-index:1000;
  position:absolute;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 6px;
  border: none;
  opacity: 0.9;
}

#cy-context-menus-cxt-menu:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#cy-context-menus-cxt-menu:last-child{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cy-context-menus-cxt-menuitem{
  display:block;
  z-index:1000;
  width: 100%;
  padding: 3px 20px;
  position:relative;
  margin:0;
  background-color:#2F4154;
  font-weight:normal;
  font-size: 13px;
  white-space:nowrap;
  border: 0;
  text-align: left;
  outline: none;

}

.cy-context-menus-cxt-menuitem:enabled {
  color: #fff;
}

.cy-context-menus-ctx-operation:focus{
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover{
  color: #ffffff;
  text-decoration: none;
  background-color: $menuHoverColor;
  background-image: none;
  cursor: pointer;
}

.cy-context-menus-cxt-menuitem[title]:before{
  content:attr(title);
}

.cy-context-menus-cxt-menuitem:not([title]):before{
  content:"\2630";
}

.cy-context-menus-divider {
  //border-bottom:1px solid #A0A0A0;
}