


.dropdown-submenu {
    position: relative;
    font-size: 12px !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    // padding-right: 5px !important;
    background-color: #34495e !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>.dropdown-menu>li>a{
  color: #fff !important;
  font-size: 12px !important;
}
.dropdown-submenu>.dropdown-menu>li>a:hover{
  color: #fff !important;
  background-color: #1abc9c !important;
  border-radius: 4px !important;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
