@import 'styleGlobals';

#genomicDataExplorerDiv
{
  .modal-body
  {
    .genomicLoadButton
    {
      padding: 10px;
      border-radius: 6px;
      outline: none;
      background-color: #fff;
      border: 2px solid $menubgColor;
      color: $menubgColor;
      transition: all 0.2s linear;
    }

    .genomicLoadButton:hover{
      border-color: $menuHoverColor;
      color: $menuHoverColor;
    }

    .wrapper
    {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .genomicChecboxDiv
    {
      text-align: left !important;
      margin-left: 50px !important;
    }

    .genomicDataContentDiv
    {
      h4{
        margin-bottom: 5px;
      }
      margin-bottom: 15px;
    }
  }
}
