[data-notify="container"][class*="alert-pastel-"]
{
  background-color: $menuHoverColor;
  color: #FFFFFF;

  .close{
    opacity: 1.0;
    color: #FFFFFF;
    margin-top: 7px;
    outline: none;
  }

  .close:hover{
    color: #FFFFFF;
  }
}
//[data-notify="container"].alert-pastel-info {
//  border-left-color: rgb(255, 179, 40);
//}
//[data-notify="container"].alert-pastel-danger {
//  border-left-color: rgb(255, 103, 76);
//}

[data-notify="container"][class*="alert-pastel-"] > [data-notify="message"] {
  //font-weight: 400;
}