.qtipLabel{
  margin-top: 10px;
}

.pubmedIDLabel{
  text-align: center;
}

.pubmedIDList{
  a{
    cursor: pointer;
  }
}

.qtipRemovePmedID
{
  float: right;
}

.qtipRemovePmedID:hover
{
  color: #1abc9c;
  cursor: pointer;
};

.geneDetails{
  margin-top: 10px;
}

.inputCol{
  padding-left: 0px !important;
}

.qtip-tipsy{
  background: rgba(47, 65, 84, 0.92);
  color: white;
  border: 0 solid transparent;
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  line-height: 16px;
  // text-shadow: 0 1px black;
  // text-align: justify;
  .qtip-content{
    padding: 5px 10px;
  }

  .scrollable
  {
      max-height: 200px;
      overflow-y: scroll;
  }

  .form-control:focus {
    border-color: #1abc9c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1abc9c;
  }
  a{
    color: #1abc9c;
  }
}
