.toolbar
{
  margin-bottom: 10px;
  margin-left: 140px;
  padding: 5px;
  background-color: #eff0f2;
  //border: 3px solid $menuHoverColor;
  border-radius: 6px;

  .toolbar-button
  {
    border: 3px solid #eff0f2;
    border-radius:6px;
    display: inline-block;
    cursor: pointer;
  }
  
  .toolbar-button:hover
  {
    border-color: $menuHoverColor;
  }

  .btn-group
  {
    margin-right: 10px;
    margin-left: 5px;
    border: 2px solid $menubgColor;
    padding: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius:6px;
  }

  #searchGeneToolbar
  {
    float: right;
    margin-right: 0px !important;
    border: none !important;
  }

  .input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
  }

  .form-group{
    margin: 0px !important;
  }

  img
  {
    height: 28px;
    margin-left: 2px;
    margin-right: 2px;
  }
}