@import 'styleGlobals';

/* The max width is dependant on the container (more info below) */
.popover{
  max-width: 400px; /* Max Width of the popover (depending on the container!) */
  span{
    background-color: #e74c3c;
  }
}

.welcomePageContainer
{
  h3,h1{
    color: #2f4154;
  }

  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  z-index: 100;
  height: 100%;
  display: table;
  width: 100%;

  .container{

  }

  .landingContent
  {
    height: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .welcomePageLoading{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;

    i{
      color: $menuHoverColor;
    }
  }

  .welPageButtons{
    margin-top: 30px;
  }

  .welcomePageCheckable
  {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid #979797;
    color: #606060;
    font-weight: 500;
    transition: all 0.2s linear;
    min-width: 180px;
    cursor: pointer;
    i{
      visibility: hidden;
    }
  }

  .welcomePageCheckable:hover,
  .active
  {
    color: #2f4154;
    border-color: $menuHoverColor;
    i{
      visibility: visible;
      color: $menuHoverColor;
    }
  }

  .continueRow{
    margin-top: 30px;
    visibility: hidden;
    cursor: pointer;
  }
  .continueButton
  {
    padding: 10px;
    background-color: #2f4154;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s linear;
    max-width: 200px;

    margin-left: auto;
    margin-right: auto;
  }

  .continueButton:hover
  {
    background-color: $menuHoverColor;
  }

  .buttonsSeparator{
    $sepAmount: 10px;
    margin-left: $sepAmount;
    margin-right: $sepAmount;
    font-weight: 600;
  }

}