@import 'aboutModal';
@import "quickHelpModal";
@import 'dragDropNodeAdd';
@import 'dropDown';
@import "layoutPropertiesModal";
@import "pathwayDetailsModal";
@import 'qtipStyle';
@import "utilities";
@import "styleGlobals";
@import "welcomePage";
@import "genomicDataExplorer";
@import "contextMenu";
@import "cbioPortalModal";
@import "animate";
@import "notificationStyles";
@import "toolbarStyle";

.gridModal{
    width: 350px !important;
}

.geneSearchDiv
{
  input{
    border-radius: 6px;
    //outline: none;
    border: 2px solid #2b2b2d;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    width: 100%;
  }

  input:focus
  {
    border-color: $menuHoverColor;
    outline: none;
    border-style: solid;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff;
}

$appContentHeight: 780px;

input[type="color"]
{

  padding: 2px 2px 2px 2px;
}

input[type="color"]:hover{
  cursor: pointer;
}

#colorPickerButton
{
  padding-top: 10px;
}


.form-control:focus {
  border: 2px solid $menuHoverColor;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $menuHoverColor;
  color: #2f4154;
}

.cy-panzoom{
  position: absolute;
  // z-index: 1039;
}

.cytoscape-navigatorView{
  background: $menuHoverColor;

}

.cytoscape-navigator-wrapper{
  position: absolute;
  border: 2px solid #2F4154;
  border-radius: 6px;
  background: #fff;
  z-index: 100;
  width: 300px;
  height: 200px;
  bottom: 8.5%;
  right: 3.5%;
  overflow: hidden;
}

.btn:focus {
  outline: none !important;
}


.pathwayPanel
{
  label{
  }

  .fileNameContent
  {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
    color: #2f4154;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    min-width: 100px;
  }

  div[contenteditable="true"]:focus{
    outline: 2px solid $menuHoverColor;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $menuHoverColor;
    background-color: white;
  }
  textarea{
    width: 170px;
    height: 50px;
    margin-bottom: 10px;
    z-index: 999999;
  }
}



.mainContentWrapper{
  display: flex;
}

.sideBarWrapper{
  min-width: 130px;
  max-width: 130px;
  font-size: 12px;
}

.sideBarWrapper-cBioPortal{
  min-width: 40px;
  max-width: 40px;
  font-size: 12px;
}

.control-label
{
  text-align: left;
  margin-top: 10px;
  color: rgba(23, 22, 22, 0.78) !important;
  font-weight: 300 !important;
}

.input-group
{
  margin-bottom: 5px;
  width: 100%;

  .form-control{
    border-radius: 6px !important;
  }
  input[type="checkbox"]{
    margin-top: 10px;
  }
}

.edgePaletteWrapper{
  text-align: center;
  .list-group
  {
    margin-bottom: 0 !important;
    .list-group-item{
      border: none !important;
    }
  }
  .edge-palette
  {
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
      background-color: $menuHoverColor !important;
    }

    .list-group-item{
      padding: 7px 5px;
    }

    a
    {
      margin-bottom: 5px;
      border-radius: 6px;
      font-size: 12px;
      img{
        width: 30px;
      }
    }
  }
}

footer{
 background-color: rgb(238, 238, 238);
 color: rgb(57, 57, 57);
 height: 100%;

}


.pageContentWrapper{
  margin-bottom: 70px;
}


.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    color: #fff !important;
    background-color: $menuHoverColor !important;
    border-left-color: transparent;
}

.navbar-nav>.open>.dropdown-menu>li>a {
    // padding: 6px 9px !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-size: 12px !important;
}

 .navbar-nav>.open>.dropdown-menu {
    // padding: 3px 4px !important;
    background-color: $menubgColor !important;
}

.navbar-nav>li>.dropdown-menu, .navbar-nav>li>.dropdown-submenu  {
    // min-width: 100%;
    // margin-top: 9px !important;
    border-radius: 4px !important;
    border:none;
}

.navbar-nav>.open>.dropdown-menu>li>a:hover, .navbar-nav>.open>.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: $menuHoverColor;
}

.navbar{
  border-radius: 0px 0px 6px 6px;
  background-color: $menubgColor;
  border: none !important;
  margin-bottom: 5px !important;
}

.navbar-nav{
  a{
    transition: all 0.2s linear;
  }
}

.navbar-nav>li>a
{
  color: rgb(255, 255, 255) !important;
  font-weight: 500 !important;
  font-size: 12px;
}

.navbar-nav>li>a:hover
{
  color: $menuHoverColor !important;

}


.navbar-brand{
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
}



.pnl
{
   margin-bottom: 10px;
   border-radius: 6px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15);;


  .pnl-header
  {
    background-color: $menuHoverColor;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 8px 5px 5px 5px;
    color: white;
    font-size: 12px;
    font-weight: 900;
  }

  .pnl-body
  {
    background-color: #eff0f2;
    padding: 4px 2px 4px 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    .buttonContainer>button{
      border: none !important;
    }
    .dragButtonContainer
    {
      width: 115px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.customMargins{
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.leftPanelFix{
  padding-left: 0;
}

.hiddenfile
{
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.buttonContainer{
  text-align: center;
  margin-bottom: 5px;

  button{
    font-size: 12px;
    width: 85%;
  }
}


.cyContainer{
  border: 3px solid $menuHoverColor;
  height: $appContentHeight;
  border-radius: 6px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%;
  margin-left: 10px;
}

#cy
{
  height: 100%;
  // width: 100%;
}

.btn:focus {
  outline: none !important;
  background-color: #fff !important;
}

.html5tooltip-box
{
  background-color: rgba(47, 65, 84, 0.92);
  border-radius: 8px;
}
