@import 'aboutModal';
@import "quickHelpModal";
@import 'dragDropNodeAdd';
@import 'dropDown';
@import "layoutPropertiesModal";
@import 'qtipStyle';
@import "utilities";

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff;
}

$appContentHeight: 850px;


.mainContentWrapper{
  display: flex;
}

.sideBarWrapper{
  min-width: 190px;
  max-width: 190px;
}

.control-label
{
  text-align: left;
  margin-top: 10px;
  color: rgba(23, 22, 22, 0.78) !important;
  font-weight: 300 !important;
}

.input-group
{
  margin-bottom: 5px;
  width: 100%;

  .form-control{
    border-radius: 6px !important;
  }
  input[type="checkbox"]{
    margin-top: 10px;
  }
}

.edgePaletteWrapper{
  text-align: center;
  .list-group
  {
    margin-bottom: 0 !important;
    .list-group-item{
      border: none !important;
    }
  }
  .edge-palette
  {
    a
    {
      margin-bottom: 5px;
      border-radius: 6px;
    }
  }
}

footer{
 background-color: rgb(238, 238, 238);
 color: rgb(57, 57, 57);
 height: 100%;

}


.pageContentWrapper{
  margin-bottom: 70px;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    color: #fff !important;
    background-color: #1abc9c !important;
    border-left-color: transparent;
}

.navbar-nav>.open>.dropdown-menu>li>a {
    // padding: 6px 9px !important;
    color: #fff !important;
    border-radius: 4px !important;
}

 .navbar-nav>.open>.dropdown-menu {
    // padding: 3px 4px !important;
    background-color: #34495e !important;
}

.navbar-nav>li>.dropdown-menu, .navbar-nav>li>.dropdown-submenu  {
    min-width: 100%;
    // margin-top: 9px !important;
    border-radius: 4px !important;
    border:none;
}

.navbar-nav>.open>.dropdown-menu>li>a:hover, .navbar-nav>.open>.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #1abc9c;
}

.navbar{
  border-radius: 0px 0px 6px 6px;
  background-color: #2f4154;
  border: none !important;
}

.navbar-nav>li>a
{
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.navbar-brand{
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
}

.cy-panzoom{
  // position: absolute;
  /* float: right; */
  // top: 14px;
  right: 120px;
  z-index: 100;
}

.pnl
{
   margin-bottom: 15px;
   border-radius: 6px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15);;


  .pnl-header
  {
    background-color: #48c9b0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px 5px 15px 5px;
    color: white;
    font-size: 16px;
    font-weight: 900;
  }

  .pnl-body
  {
    background-color: #eff0f2;
    padding: 15px 10px 15px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    .buttonContainer>button{
      border: none !important;
    }
    .dragButtonContainer
    {
      width: 140px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.customMargins{
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.leftPanelFix{
  padding-left: 0;
}

.hiddenfile
{
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.buttonContainer{
  text-align: center;
  margin-bottom: 5px;

  button{
    width: 75%;
  }
}


.sideBar{
}

.cyContainer{
  border: 3px solid #48c9b0;
  height: $appContentHeight;
  border-radius: 6px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%;
  margin-left: 20px;

}

#cy
{
  height: 100%;
  // width: 100%;
}

#info
{
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
