@import 'aboutModal';
@import 'dragDropNodeAdd';
@import 'dropDown';

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff;
}

$appContentHeight: 850px;

.edgePaletteWrapper{
  text-align: center;
  .edge-palette
  {
    a
    {
      margin-bottom: 5px;
      border-radius: 6px;
    }
  }
}

footer{
 background-color: rgb(238, 238, 238);
 color: rgb(57, 57, 57);
}

footer{
  height: 100%;
}

.pageContentWrapper{
  margin-bottom: 70px;
}

.navbar{
  border-radius: 0px 0px 6px 6px;
}

.cy-panzoom{
  position: absolute;
  /* float: right; */
  top: 14px;
  right: 65px;
  z-index: 100;
}

.pnl
{
   margin-bottom: 15px;
   border-radius: 6px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15);;


  .pnl-header
  {
    background-color: #48c9b0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px 5px 15px 5px;
    color: white;
    font-size: 16px;
    font-weight: 900;
  }

  .pnl-body
  {
    background-color: #eff0f2;
    padding: 25px 30px 25px 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.customMargins{
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.leftPanelFix{
  padding-left: 0;
}

.hiddenfile
{
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.buttonContainer{
  text-align: center;
  margin-bottom: 5px;

  button{
    width: 100%;
  }
}


.sideBar{
}

.cyContainer{
  border: 3px solid #48c9b0;
  height: $appContentHeight;
  border-radius: 6px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#cy
{
  height: 100%;
  // width: 100%;
}

#info
{
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
