.modal .modal-header {
  background-color: #ececec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.modal .modal-footer {
  background-color: #ececec;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.modal .close {
  outline: none !important; }

.modal .modal-title {
  color: #2f4154; }

.modal .close:hover {
  color: #1abc9c; }

.modal {
  text-align: center; }
  .modal .modal-body .aboutImageContent {
    margin-bottom: 15px; }
  .modal .modal-body .adressText {
    margin-bottom: 15px; }
    .modal .modal-body .adressText p {
      margin-bottom: 0px !important; }
  .modal .modal-body h3 {
    color: #1abc9c; }
  .modal .modal-footer {
    text-align: center; }
    .modal .modal-footer a {
      color: #1abc9c; }

#aboutModal .modal-dialog {
  width: 400px; }

#edge_legend_modal .modal-body img {
  width: 500px; }

#node_legend_modal .modal-body img {
  width: 500px; }

#quickHelpModal .modal-body ul li {
  margin-bottom: 15px; }

.ui-cytoscape-nodeadd {
  z-index: 99999;
  /* Fix for plugin to render correctly when Bootstrap is being used*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 5px; }

#ui-cytoscape-nodeadd-icon {
  font-size: 1.3em !important; }
  #ui-cytoscape-nodeadd-icon .explanationText {
    font: 14px helvetica neue, helvetica, arial, sans-serif; }

.ui-cytoscape-nodeadd-nodediv {
  z-index: 99999;
  padding: 3px;
  text-align: center;
  width: 140px;
  /* Fix for line trail left by drag (in Chrome)*/
  -webkit-backface-visibility: hidden;
  /* Fix for plugin to render correctly when Bootstrap is being used*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

#ui-cytoscape-nodeadd-icon {
  cursor: pointer; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #34495e !important; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > .dropdown-menu > li > a {
  color: #fff !important; }

.dropdown-submenu > .dropdown-menu > li > a:hover {
  color: #fff !important;
  background-color: #1abc9c !important;
  border-radius: 4px !important; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

#layoutPropertiesDiv .modal, #layoutPropertiesDiv .modal-body {
  max-height: 100%; }
  #layoutPropertiesDiv .modal .form-control:focus, #layoutPropertiesDiv .modal-body .form-control:focus {
    border: 2px solid #1abc9c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1abc9c;
    color: #2f4154; }

#layoutPropertiesDiv .modal-footer button {
  border: none !important; }

.qtipLabel {
  margin-top: 10px; }

.geneDetails {
  margin-top: 10px; }

.inputCol {
  padding-left: 0px !important; }

.qtip-tipsy {
  background: rgba(47, 65, 84, 0.92);
  color: white;
  border: 0 solid transparent;
  font-size: 12px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  line-height: 16px; }
  .qtip-tipsy .qtip-content {
    padding: 5px 10px; }
  .qtip-tipsy .scrollable {
    max-height: 200px;
    overflow-y: scroll; }
  .qtip-tipsy .form-control:focus {
    border-color: #1abc9c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1abc9c; }
  .qtip-tipsy a {
    color: #1abc9c; }

.centerText {
  text-align: center !important; }

.leftText {
  text-align: left !important; }

.justifyText {
  text-align: justify !important; }

.modal .modal-header {
  background-color: #ececec;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.modal .modal-footer {
  background-color: #ececec;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.modal .close {
  outline: none !important; }

.modal .modal-title {
  color: #2f4154; }

.modal .close:hover {
  color: #1abc9c; }

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff; }

.btn:focus {
  outline: none !important; }

.fileNameContent {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  color: #2f4154;
  height: 50px; }
  .fileNameContent span {
    position: relative;
    top: 10px;
    cursor: pointer; }
  .fileNameContent .form-control:focus {
    border: 2px solid #1abc9c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1abc9c;
    color: #2f4154; }

.fileNameContent:hover {
  color: #1abc9c; }

.mainContentWrapper {
  display: flex; }

.sideBarWrapper {
  min-width: 190px;
  max-width: 190px; }

.control-label {
  text-align: left;
  margin-top: 10px;
  color: rgba(23, 22, 22, 0.78) !important;
  font-weight: 300 !important; }

.input-group {
  margin-bottom: 5px;
  width: 100%; }
  .input-group .form-control {
    border-radius: 6px !important; }
  .input-group input[type="checkbox"] {
    margin-top: 10px; }

.edgePaletteWrapper {
  text-align: center; }
  .edgePaletteWrapper .list-group {
    margin-bottom: 0 !important; }
    .edgePaletteWrapper .list-group .list-group-item {
      border: none !important; }
  .edgePaletteWrapper .edge-palette .list-group-item.active, .edgePaletteWrapper .edge-palette .list-group-item.active:focus, .edgePaletteWrapper .edge-palette .list-group-item.active:hover {
    background-color: #1abc9c !important; }
  .edgePaletteWrapper .edge-palette a {
    margin-bottom: 5px;
    border-radius: 6px; }

footer {
  background-color: #eeeeee;
  color: #393939;
  height: 100%; }

.pageContentWrapper {
  margin-bottom: 70px; }

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  color: #fff !important;
  background-color: #1abc9c !important;
  border-left-color: transparent; }

.navbar-nav > .open > .dropdown-menu > li > a {
  color: #fff !important;
  border-radius: 4px !important; }

.navbar-nav > .open > .dropdown-menu {
  background-color: #2f4154 !important; }

.navbar-nav > li > .dropdown-menu, .navbar-nav > li > .dropdown-submenu {
  border-radius: 4px !important;
  border: none; }

.navbar-nav > .open > .dropdown-menu > li > a:hover, .navbar-nav > .open > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #1abc9c; }

.navbar {
  border-radius: 0px 0px 6px 6px;
  background-color: #2f4154;
  border: none !important; }

.navbar-nav a {
  transition: all 0.2s linear; }

.navbar-nav > li > a {
  color: white !important;
  font-weight: bold !important; }

.navbar-nav > li > a:hover {
  color: #1abc9c !important; }

.navbar-brand {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold; }

.cy-panzoom {
  /* float: right; */
  right: 120px;
  z-index: 100; }

.pnl {
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15); }
  .pnl .pnl-header {
    background-color: #1abc9c;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px 5px 15px 5px;
    color: white;
    font-size: 16px;
    font-weight: 900; }
  .pnl .pnl-body {
    background-color: #eff0f2;
    padding: 15px 10px 15px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .pnl .pnl-body .buttonContainer > button {
      border: none !important; }
    .pnl .pnl-body .dragButtonContainer {
      width: 140px;
      margin-left: auto;
      margin-right: auto; }

.customMargins {
  margin-left: 3% !important;
  margin-right: 3% !important; }

.leftPanelFix {
  padding-left: 0; }

.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden; }

.buttonContainer {
  text-align: center;
  margin-bottom: 5px; }
  .buttonContainer button {
    width: 75%; }

.cyContainer {
  border: 3px solid #1abc9c;
  height: 850px;
  border-radius: 6px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%;
  margin-left: 20px; }

#cy {
  height: 100%; }
