.modal {
  text-align: center; }
  .modal .modal-body .aboutImageContent {
    margin-bottom: 15px; }
  .modal .modal-body .adressText {
    margin-bottom: 15px; }
    .modal .modal-body .adressText p {
      margin-bottom: 0px !important; }
  .modal .modal-footer {
    text-align: center; }

#edge_legend_modal .modal-body img {
  width: 500px; }

#node_legend_modal .modal-body img {
  width: 500px; }

.ui-cytoscape-nodeadd {
  z-index: 99999;
  /* Fix for plugin to render correctly when Bootstrap is being used*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 5px; }

#ui-cytoscape-nodeadd-icon {
  font-size: 1.3em !important; }
  #ui-cytoscape-nodeadd-icon .explanationText {
    font: 14px helvetica neue, helvetica, arial, sans-serif; }

.ui-cytoscape-nodeadd-nodediv {
  z-index: 99999;
  padding: 3px;
  text-align: center;
  /* Fix for line trail left by drag (in Chrome)*/
  -webkit-backface-visibility: hidden;
  /* Fix for plugin to render correctly when Bootstrap is being used*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

#ui-cytoscape-nodeadd-icon {
  cursor: pointer; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: #fff; }

.edgePaletteWrapper {
  text-align: center; }
  .edgePaletteWrapper .edge-palette a {
    margin-bottom: 5px;
    border-radius: 6px; }

footer {
  background-color: #eeeeee;
  color: #393939; }

footer {
  height: 100%; }

.pageContentWrapper {
  margin-bottom: 70px; }

.navbar {
  border-radius: 0px 0px 6px 6px; }

.cy-panzoom {
  position: absolute;
  /* float: right; */
  top: 14px;
  right: 65px;
  z-index: 100; }

.pnl {
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.15); }
  .pnl .pnl-header {
    background-color: #48c9b0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px 5px 15px 5px;
    color: white;
    font-size: 16px;
    font-weight: 900; }
  .pnl .pnl-body {
    background-color: #eff0f2;
    padding: 25px 30px 25px 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }

.customMargins {
  margin-left: 3% !important;
  margin-right: 3% !important; }

.leftPanelFix {
  padding-left: 0; }

.hiddenfile {
  width: 0px;
  height: 0px;
  overflow: hidden; }

.buttonContainer {
  text-align: center;
  margin-bottom: 5px; }
  .buttonContainer button {
    width: 100%; }

.cyContainer {
  border: 3px solid #48c9b0;
  height: 850px;
  border-radius: 6px;
  padding-right: 0 !important;
  padding-left: 0 !important; }

#cy {
  height: 100%; }

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em; }
