$menubgColor: #2f4154;
$menuHoverColor: #1abc9c;
$modalHeaderFooterColor: #ececec;


.modal{
  .modal-header{
    background-color:$modalHeaderFooterColor;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

  }
  .modal-footer{
    background-color: $modalHeaderFooterColor;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .close{
    outline: none !important;
  }

  .modal-title{
    color: $menubgColor;
  }

  .close:hover{
    color: $menuHoverColor;
  }
}
