
.list-group{
    margin-bottom: 0px;
}

.toolbar img {
    margin-right: 4px;
    margin-right: 4px;
}

.toolbar .toolbar-button{
    margin-right: 1px;
    margin-left: 1px 
}

tbody tr:hover{
    background: #5dbcd2 !important;
}

.cBioMode .cytoscape-navigatorView{
    background: #5dbcd2;
}

.ui-cytoscape-nodeadd-nodediv{
    background: rgb(251, 251, 251) none repeat scroll 0% 0%;

    border: 0px solid rgb(255, 255, 255);

    border-radius: 5px;

    font-size: 1.3em !important;

    cursor: pointer;

    text-align: center;
}

#ranking-bar .info-entry{
    margin-bottom: 10px;
}

#ranking-bar .info-entry .indent{
    margin-left: 20px;
    margin-top: 6px;
}

#ranking-bar:first-child{
    margin-top: 10px;
}

#ranking-bar .info-title{
    background-color: #4389c0;
    width: 100%; 
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

#cy{
    margin-top: 10px;
}

#ranking-table {
    margin-left: 20px; 
    margin-top: 6px;
    margin-right: 6px;
}

#toolbar img {
    margin-top: 10px;
}

.ui-cytoscape-nodeadd img {
    width: 110px;
    height: 28px;
}

#ranking-bar .label:hover{
    background-color: #4389c0;
}

#ranking-bar .label{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 4px;
    display: inline-block;
    margin-right: 4px;
    font-size: 11px;
}

.label:hover{
    cursor: pointer;
}

.dropdown-submenu .caret{
    display: none;
}

#ranking-bar .table-title{
    width: 370px;
}
#ranking-bar table{
    width: 330px;
}