
.list-group{
    margin-bottom: 0px;
}

.toolbar svg {
    margin-right: 4px;
    margin-right: 4px;
}

.toolbar .toolbar-button{
    margin-right: 1px;
    margin-left: 1px 
}

tbody tr:hover{
    background: rgb(26, 188, 156) !important
}

.ui-cytoscape-nodeadd-nodediv{
    background: rgb(251, 251, 251) none repeat scroll 0% 0%;

    border: 0px solid rgb(255, 255, 255);

    border-radius: 5px;

    font-size: 1.3em !important;

    cursor: pointer;

    text-align: center;
}