body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

$appContentHeight: 768px;

.pnl{
  background-color: #eff0f2;
  padding: 25px 30px 25px 30px;
  border-radius: 6px;
}

.customMargins{
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.leftPanelFix{
  padding-left: 0;
}

.hiddenfile
{
 width: 0px;
 height: 0px;
 overflow: hidden;
}

.buttonContainer{
  text-align: center;
  margin-bottom: 5px;

  button{
    width: 100%;
  }
}


.sideBar{
}

.cyContainer{
  border: 1px solid rgb(227, 227, 227);
  height: $appContentHeight;
}

#cy
{
  height: 100%;
  // width: 100%;
}

#info
{
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}
